
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="heading">
        <h1>Edit Project</h1>
    </div>

    <div class="spread-table">
        <table>
            <tr>
                <td>Project Budget:</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td>Project Budget Maximum:</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td><input type="text" name="" id=""></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>Teams:</td>
                <td>
                    <select class="select" name="" id="">
                        <option value="">Team name</option>
                        <option value="">Team 1</option>
                        <option value="">Team 2</option>
                        <option value="">Team 3</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td>Client:</td>
                <td><input type="text" name="" id=""></td>
            </tr>
            <tr>
                <td>Project Manager</td>
                <td>
                    <select class="select" name="" id="">
                        <option value="">Select Project Manager</option>
                        <option value="">PM 1</option>
                        <option value="">PM 2</option>
                        <option value="">PM 3</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="btn-bottom">
        <a href="team-data.html" class="green-button" style="width: 140px; text-align: center">Back</a>
        <a href="" class="green-button" style="width: 140px; text-align: center">Update</a>
    </div>
</div>
